<div class="container mt-3">
    <a routerLink="">
        <img src="https://assets.subito.it/static/logos/corporate.svg" style="width: 300px;" alt="">
      </a>
      </div>
<div class="container mt-5 d-flex">
    <input class="input-search" [(ngModel)]="searchQuery" placeholder="Cerca..." (input)="filterProducts()">
    <select [(ngModel)]="selectedCategory" (change)="filterProducts()">
        <option value="Tutte">Tutte le categorie</option>
        <option value="Casa">Casa</option>
        <option value="Appartamenti">Appartamenti</option>
        <option value="Meccanica">Meccanica</option>
      </select>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center mt-3" style="margin-bottom: 10px; cursor: pointer;">
<div *ngFor="let product of filteredProducts, let i = index" class="card d-flex mt-3" style="width: 48rem;">
    <div [routerLink]="['/product', product.id]" class="card-body d-flex mt-3">
        <div>
        <img src={{product.image}} class="card-img-top" alt="..." style="width: 200px; margin-right: 50px;">
    </div>
    <div>
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>{{product.place}}</p>
      <h5 style="color: red;" class="card-text">{{product.price}} €</h5>
      <p class="card-text">Categoria: {{product.category}}</p>
    </div>
    </div>
  </div>
</div>
