<div class="container mt-3">
    <img src="https://assets.subito.it/static/logos/corporate.svg" style="width: 300px;" alt="">
</div>
<div class="container d-flex flex-column justify-content-center align-items-center mt-3" style="margin-bottom: 10px; cursor: pointer;">
<div *ngFor="let product of products, let i = index" class="card d-flex mt-3" style="width: 48rem;">
    <div [routerLink]="['/product', product.id]" class="card-body d-flex mt-3">
        <div>
        <img src={{product.image}} class="card-img-top" alt="..." style="width: 200px; margin-right: 50px;">
    </div>
    <div>
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.place}}</p>
      <p style="color: red;" class="card-text">{{product.price}} €</p>
    </div>
    </div>
  </div>
</div>
