<div class="container mt-5">
<button class="btn text-white" style="background-color: #F9423A" (click)="navigateTo()">Torna indietro</button>
</div>
<div class="container w-50">
<form  class="mt-5 d-flex flex-column justify-content-center align-items-center card p-4">
    <div class="mb-4">
       <h3>Contatta il venditore</h3>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Indirizzo Email</label>
      <input style="width: 300px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input style="width: 300px; color: #F9423A;" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Scrivi il tuo messaggio</label>
        <textarea style="width: 300px;" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <button style="background-color: #F9423A;" type="submit" class="btn text-white">Contatta</button>
  </form>
</div>
